body{
    background-color: white;
    margin: 0px; /* Remover margem do externo da pagina*/
}
.Header{
    background-color: rgb(148, 187, 219); /* Fundo da divisão menu */
    width: 100%; /* Fundo Alinhar por completo com o navegador na horizontal */
    height: 150px; /* Altura da divisão menu */
    display: flex; /* Adicione esta propriedade */
    justify-content: space-between; /* Altere o valor de justify-content */
    flex-direction: row;
}
.logo{
    height: 100px; /* Medida em pixel da altura do logo */
    padding: 5px; /* Espaçamento em volta do objeto*/
    margin-left: 10px; /* Margem a esquerda separando conteudo a direita */
}
.linhas{
    display: flex;
    flex-direction: column;
}
.linha1{
    display: flex;
    justify-content:flex-end;
    order: 1;
}
.linha1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;
}
.linha2{
    order: 2;
}
.hamburger {
    display: none;
}
.menuB{
    background-color: rgb(67, 103, 145);
    float: center;
    padding-left: 40px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.menuB a{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    justify-content: space-between;
}
.busca{
    background-color: rgb(88, 106, 123);
    float: center;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.busca select{
    margin-left: 20px;
}
.busca button{
    margin-left: 20px;
}
.conteudo{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.conteudo img{
    padding-left: 8px;
    padding-right: 8px;
    height: 200px;
}