body{
    background-color: rgb(141, 136, 126);
    /* background-image: url(img/fundo.jpg); */
    margin: 20px;
    background-size: 100vh;
}
/* MENU FLUTUANTE */
.header{
    background-color: rgba(255, 255, 255, 0.804);
    border-radius: 20px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}
.menu {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.logo{
    height: 50px;
    padding: 5px;
    margin-left: 10px;
    align-items: center;
}
.logo img{
    height: 50px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content:center;
}
.nav a {
    color: black;
    margin-right: 50px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/* CORPO INDEX */
.index {
    margin: 20px;
    display: flex;
    justify-content: column;
}
.bemVindo {
    height: 76vh;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.804);
    border-radius: 20px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}
.bemVindo p {
    padding: 20px;
    text-align: left;
}
.fotoIndex img{
    height: 76vh;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}
